<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="section__pic-container">
      <img
        src="assets/imagesabout-pic.png"
        alt="Profile picture"
        class="about-pic"
      />
    </div>
    <div class="about-details-container">

      <div class="text-container">
        <p>
          To work pragmatically as a Senior Software Engineer, utilizing
          my extensive experience in software development and
          engineering to design, develop, and implement complex
          software solutions. I aim to leverage my technical expertise
          and team player skills to drive innovation and continuous
          improvement while collaborating with cross-functional teams
          to achieve business goals and deliver high-quality
          products. Dedicated and accomplished Software Engineer
          with 8 years of experience specializing in test automation,
          software development, and team leadership. Possess a proven
          track record of delivering high-quality solutions and driving
          process improvements. Experienced in working with diverse
          technologies and leading teams to success in dynamic
          environments
        </p>
      </div>
      <div class="about-containers">
        <div class="details-container">
          <img
            src="assets/imagesexperience.png"
            alt="Experience icon"
            class="icon"
          />
          <h3>Education</h3>
          <p>B.Sc <br/>Information Technology</p>
          <p>Lord Buddha Education <span class="text-red size-small">Pursuing</span></p>
          <p>+2 <br/>Science</p>
          <p>Nobel College</p>
        </div>
        <div class="details-container">
          <img
            src="assets/imageseducation.png"
            alt="Education icon"
            class="icon"
          />
          <h3>Training/Certification  </h3>
          <p>The Data Scientist’s Toolbox<br/>Coursera - 2017</p>

          <p>SAFe® 5 Practitioner<br/>Scaled Agile Inc. - 2024</p>

        </div>
      </div>
    </div>

  </div>
  <img
    src="assets/imagesarrow.png"
    alt="Arrow icon"
    class="icon arrow"
    onclick="location.href='./#experience'"
  />
</section>
