<app-top-nav [menus]="menus"></app-top-nav>
<section id="profile">
  <div class="section__pic-container">
    <img src="assets/images/profile-pic.jpg" alt="Sumit profile picture"/>
  </div>
  <div class="section__text">
    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">Sumit Prakash Shrestha</h1>
    <p class="section__text__p2">Frontend Developer</p>
    <div class="btn-container">
      <button
        class="btn btn-color-2"
        onclick="window.open('assets/images/resume-example.pdf')"
      >
        Download CV
      </button>
      <button class="btn btn-color-1" onclick="location.href='./#contact'">
        Contact Info
      </button>
    </div>
    <div id="socials-container">
      <img
        src="assets/images/linkedin.png"
        alt="My LinkedIn profile"
        class="icon"
        onclick="location.href='https://linkedin.com/in/sumit-prakash-shrestha-97a402b1'"
      />
      <img
        src="assets/images/github.png"
        alt="My Github profile"
        class="icon"
        onclick="location.href='https://github.com/SumitPShrestha'"
      />
    </div>
  </div>
</section>
<app-about></app-about>
<app-experience></app-experience>
<app-skills></app-skills>
<app-contact></app-contact>
